version: "3.3"

networks:
  webnet:

services:
##nginx proxy
  espier-nginx-proxy:
    image: nginx:stable-alpine
    ports:
      - "8080:8080"
      - "8084:8004"
    links:
      - espier-bloated-web
      - phpmyadmin
      - ecshop-admin-build
    volumes:
      - "./config/nginx/default.conf:/etc/nginx/conf.d/default.conf"
      - "./espier-retail-manage/app/dist/star:/usr/share/nginx/html"
    networks:
      - webnet

###espier-bloated-web
  espier-bloated-web:
    environment:
      APP_ENV: dev
      CONTAINER_ROLE: web
    entrypoint: php-fpm
    # replace username/repo:tag with your name and image details
    image: "${PHP_COMPOSER_IMAGE}"
    ports:
      - "8085:8005" 
    links:
      - mysql
      - neo4j
      - redis
    volumes:
      - "./config/phpfpm/php-fpm.conf:/usr/local/etc/php-fpm.conf"
      - "./config/phpfpm/zz-docker.conf:/usr/local/etc/php-fpm.d/zz-docker.conf"
      - "./config/phpfpm/php.ini:/usr/local/etc/php/php.ini"
      - "./config/phpfpm/docker-php-ext-swoole-compiler.ini:/usr/local/etc/php/conf.d/docker-php-ext-swoole-compiler.ini"
      - "./espier-bloated:/app"
    networks:
      - webnet

  redis:
    image: 'bitnami/redis:4.0.14-r61'
    ports:
      - '6379'
    environment:
      - REDIS_REPLICATION_MODE=master
      - REDIS_PASSWORD=123456
    volumes:
      - './data/redis:/bitnami'
    networks:
      - webnet

  neo4j:
    image: 'neo4j'
    ports:
      - '7474:7474'
      - '7687:7687'

    volumes:
      - './data/neo4j:/data'
    networks:
      - webnet

  mysql:
    image: mysql:5.7
    hostname: mysql
    ports:
      - "8806:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - webnet
  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    ports:
      - "8004:80"
    links:
      - mysql
    environment:
      - PMA_HOST=mysql
    networks:
      - webnet    

  ecshop-admin-build:
    image: node:8-alpine
    environment:
      PRODUCT_MODEL: standard
      IS_SAAS: "false"
      PORT: 4000
      BUILD_DIR: /usr/share/nginx/html/app
    entrypoint:
      - sh 
      - /usr/share/nginx/html/docker/build_dev.sh
    volumes:
      - "./espier-retail-manage:/usr/share/nginx/html"
    networks:
      - webnet
#- "./bloated/files/scheduler/crontabs/root:/var/spool/cron/crontabs/root"
